.form_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 350px;
    max-width: 450px;
    gap: 15px;
}

.header__logo {
    margin: 25px 0;
    width: 350px;
    height: 46.7px;

}

.form_input {
    font-size: 16px;
    padding: 8px 16px;
    width: 100%;
    min-height: 44px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline-color: rgba(84, 212, 137, 0.5);
    border: 1px solid #ccc;
    padding: 10px;
}

.form_button_submit {
    background-color: rgb(84, 212, 127);
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    width: 100%;
    min-height: 44px;
    border: unset;
    border-radius: 4px;
    outline-color: rgba(84, 212, 137, 0.5);
    box-shadow: rgba(60, 66, 87, 0.16) 0px 0px 0px 1px;
}

.form_button_submit:hover {
    background-color: rgb(25, 204, 2);
    transition: 0.3s ease;
}

.switch_form_button {
    border: none;
    background: none;
    color: rgb(76, 76, 76);
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline;
}

.form_input.error {
    border-color: red;
}

.error_message {
    position: relative;
    color: red;
    font-size: 12px;
    top: -4px;
    margin-bottom: 5px; 
}
