.form_login_wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
}

.form_login {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    gap: 15px;
}

.form_title {
    align-self: center;
}

.header__logo {
    width: 350px;
    height: 46.7px;
    margin-left: 90px;


    
}

.form_login_input {
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    width: 100%;
    min-height: 44px;
    border: unset;
    border-radius: 4px;
    outline-color: rgba(84, 212, 137, 0.5);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(60, 66, 87, 0.16) 0px 0px 0px 1px;
}

.form_button_submit {
    background-color: rgb(84, 212, 127);
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    width: 100%;
    min-height: 44px;
    border: unset;
    border-radius: 4px;
    outline-color: rgba(84, 212, 137, 0.5);
    box-shadow: rgba(60, 66, 87, 0.16) 0px 0px 0px 1px;
}

.form_button_submit:hover {
    background-color: rgb(25, 204, 2);
    transition: 0.3s ease;
}

.header__logo {
    margin: 25px 0;
}
